<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>预约审批</title>
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../css/pageCss/labInfo.css"/>
	<style type="text/css">
		body,html{
			overflow-y: hidden;
		}
		.layui-form-label{
			width: 80px !important;
		}
		.layui-input-block{
			margin-left: 90px !important;
		}
	</style>
</head>
<body>
	
	<div class="searchItem">
		<i class="layui-icon">&#xe658;</i> 
		搜索条件
	</div>
	<div class="tableHeader">
		
		<div class="searchForm" style="width: 100% !important;">
			<form class="layui-form" action="" style="height: 100%;">
				 <div class="layui-form-item">
				 	<div class="layui-input-inline">
			        <select name="modules" lay-verify="" lay-search="">
			          <option value="">处理情况</option>
			          <option value="1">已处理</option>
			          <option value="2">未处理</option> 
			        </select>
			      </div>
			         
			      <div class="layui-input-inline">
			      <div class="layui-input-block" style="margin-left:10px !important;">
			        <input type="text" name="date" id="date1" autocomplete="off" class="layui-input" placeholder="预约时间">
			      </div>
			    </div>
				  	
				  	<div class="layui-input-inline" style="width:5%;">
				  		<div class="layui-input-block" style="margin-left:10px !important;">
					      <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
					    </div>
				  	</div>
				 </div>
				 
			</form>
		</div>
	</div>
	<div class="searchItem" style="float: left;width: 100%;">
		<i class="layui-icon">&#xe62d;</i> 
		查询结果
		<div class="tableOptions">			
			<button class="newCreate" id="download">
				<i class="fa fa-download"></i>
				<span>导出</span>
			</button>
		</div>
	</div>
	<table class="layui-table" id="orderList"  lay-filter="demo"></table>

    <script src="../../plugins/layui/layui.all.js"></script>
    <script src="../../plugins/jquery.min.js"></script>
      <script src="../path.js"></script>
    <script src="../../js/pageJs/labPeople/orderList.js"></script>  
	
	<script type="text/html" id="returnInfo">
		  {{#  if(d.apptStat==0){ }}
		  		<span>已审批</span>
		  {{#  }else{}}
		  		<span><a href="javascript:;" lay-event="checkState" style="color: red;font-weight: bold;">【审批】</a></span>
		  {{# } }}
	</script>
</body>

</html>