<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>基础信息管理</title>
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../css/pageCss/labInfo.css"/>
	<style type="text/css">
		body,html{
			overflow-y: hidden;
		}
	</style>
</head>
<body>


 
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-mini" lay-event="edit" title="编辑" style="background-color: #f8f8f8;color: #0099cc;">编辑</a>
  <a class="layui-btn layui-btn-mini" lay-event="detail" style="background-color: #f8f8f8;color: #0099cc;font-weight: bold;">|</a>
  <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del" title="删除" style="background-color: #f8f8f8;color: orangered;">删除</a>
</script>

    <script src="../../plugins/layui/layui.all.js"></script>
    <script src="../../plugins/jquery.min.js"></script>
    <script src="../../js/pageJs/schoolAdmin/basicInfo.js"></script>  
    <script type="text/javascript">

    </script>
</body>

</html>