<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>课堂中心</title>
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../css/pageCss/labInfo.css"/>	
    <link rel="stylesheet" type="text/css" href="../../css/pageCss/course.css"/>
	<style type="text/css">
		.layui-form-onswitch{
			background-color: #6699cc !important;
			border: none;
		}
		.layui-form-label{
			width: 80px !important;
		}
		.layui-input-block{
			margin-left: 90px !important;
		}
	</style>
</head>

<body>
	<div class="searchItem">
		<i class="layui-icon">&#xe658;</i> 
		搜索条件
	</div>
	<div class="tableHeader">
		
		<div class="searchForm" style="width: 100% !important;">
			<form class="layui-form" action="" style="height: 100%;">
				 <div class="layui-form-item">
				 	<div class="layui-input-inline">
			        <select name="modules" lay-verify="" lay-search="">
			          <option value="">学校名称</option>
			          <option value="1">城西附小</option>
			          <option value="2">分水中学</option> 
			        </select>
			      </div>
			      
			      <div class="layui-input-inline">
			        <select name="modules" lay-verify="" lay-search="">
			          <option value="">学科类型</option>
			          <option value="1">物理</option>
			          <option value="2">化学</option> 
			        </select>
			      </div>
			      
			      <div class="layui-input-inline">
			        <select name="modules" lay-verify="" lay-search="">
			          <option value="">开课状态</option>
			          <option value="1">已完成</option>
			          <option value="2">已预约</option> 
			          <option value="2">未完成</option> 
			        </select>
			      </div>
			      
			      <div class="layui-input-inline">
			      <div class="layui-input-block" style="margin-left:10px !important;">
			        <input type="text" name="date" id="date1" autocomplete="off" class="layui-input" placeholder="上课时间">
			      </div>
			    </div>
				  	
				  	<div class="layui-input-inline" style="width:5%;">
				  		<div class="layui-input-block" style="margin-left:10px !important;">
					      <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
					    </div>
				  	</div>
				 </div>
				 
			</form>
		</div>
	</div>
	<div class="searchItem" style="float: left;width: 100%;">
		<i class="layui-icon">&#xe62d;</i> 
		查询结果
	</div>
	<table class="layui-table" id="course"  lay-filter="demo"></table>

	<!--<div class="width:60%;box-sizing:border-box;height:100%;float:left">
	<ul style="width: 60%;height: 200px;padding: 10px;margin-top:20px;border:1px solid #ccc;box-sizing:border-box">
		<li style="width: 40%;height: 100%;box-sizing: border-box;background-color: #000000;float: left">
			
		</li>
		<li  style="width: 60%;height: 100%;box-sizing: border-box;padding-left: 20px;float: left">
					<h3 style="color: #336699;font-weight: bold;display: inline">城西附小</h3>
					<h4 style="color: #336699;font-weight: bold;margin-left: 10px;display: inline">科学实验室</h4>
					<p style="line-height: 30px;">任课教师：<span>张三</span></p>
					<p style="line-height: 30px;">实验课目：<span>小学生物</span></p>
					<p style="line-height: 30px;">实验内容：<span>·了解细菌的主要特点和对人正反两方面的作用。·知道真菌是既不属于植物也不属于动物的一类生物。·了解病毒也是生物中的一类。探究</span></p>
		</li>
	</ul>

	</div>

	<div class="width:40%;box-sizing:border-box;height:100%;padding:10px;border:1px solid red;float:left">
			<div class="width:100%;height:200px;">

			</div>
	</div>-->

	
    <script src="../../plugins/layui/layui.all.js"></script>
    <script src="../../plugins/jquery.min.js"></script>
    <script src="../path.js"></script>
    <script src="../../js/pageJs/disEduBur/course.js"></script>
 	<script type="text/html" id="state">
		  {{#  if(d.lessonStatus){ }}
		  	<a href="javascript:;" lay-event="state" style="color: red;font-weight: bold;text-decoration: underline;">【点击回看】</a>
		  {{# } }}
	</script>
</body>

</html>