<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../css/pageCss/labInfo.css"/>	
	<style type="text/css">
		.layui-form-onswitch{
			background-color: #6699cc !important;
			border: none;
		}

	</style>
</head>

<body>
	<div class="searchItem">
		<i class="layui-icon">&#xe615;</i> 
		搜索条件
	</div>
	<div class="tableHeader">
		
		<div class="searchForm">
			<form class="layui-form" action="" style="height: 100%;">
				 <div class="layui-form-item">
				 	<div class="layui-input-inline">
			        <select name="modules" lay-verify="required" lay-search="">
			          <option value="">搜索学校名称</option>
			          <option value="1">城西附小</option>
			          <option value="2">分水中学</option> 
			        </select>
			      </div>
				  	
				  	<div class="layui-input-inline" style="width:250px;">
				  		<div class="layui-input-block" style="margin-left:10px !important;">
					      <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
					    </div>
				  	</div>
				 </div>
				 
			</form>
		</div>
	</div>
	
	<div class="searchItem" style="width: 100%;float: left;">
		<i class="layui-icon">&#xe62d;</i> 
		查询结果
		
		<div class="tableOptions">			
			<button class="newCreate" id="download">
				<i class="fa fa-download"></i>
				<span>导出</span>
			</button>
			<button class="newCreate" id="upload">
				<i class="fa fa-upload"></i>
				<span>导入</span>
			</button>
			<button class="newCreate" id="newBuild" data-method="notice">
				<i class="fa fa-plus"></i>
				<span>添加</span>
			</button>		
		</div>
		
	</div>
	
	
	
	<table class="layui-table" id="sInfo"  lay-filter="demo"></table>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-mini" lay-event="edit" title="编辑" style="background-color: #f8f8f8;color: #0099cc;">编辑</a>
  <a class="layui-btn layui-btn-mini" lay-event="detail" style="background-color: #f8f8f8;color: #0099cc;font-weight: bold;">|</a>
  <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del" title="删除" style="background-color: #f8f8f8;color: orangered;">删除</a>
</script>

    <script src="../../plugins/layui/layui.all.js"></script>
    <script src="../../plugins/jquery.min.js"></script>
    <script src="../../js/pageJs/disEduBur/basic1.js"></script>
    
    <script type="text/html" id="auth">
		  {{#  if(d.isShow==1){ }}
		  		<input type="checkbox" name="show" checked="checked" lay-skin="switch" lay-text="开启|关闭" lay-filter="isShow"/>
		  {{#  } else { }}
		   		<input type="checkbox" name="show" lay-skin="switch" lay-text="开启|关闭" lay-filter="isShow"/>
		  {{#  } }}
	</script>
	<script type="text/javascript" id="course">
		  {{#  if(d.course==1){ }}
		  		<a href="javascript:;" lay-event="courseCharts" style="text-decoration:underline;color:#0099cc"><span>点击查看课表</span></a>
		  {{#  } else { }}
		   		
		  {{#  } }}
	</script>
</body>

</html>