<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>用户信息管理</title>
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../css/pageCss/labInfo.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../../css/pageCss/zzsc.css"/>-->
	<style type="text/css">
		body,html{
			overflow-y: hidden;
		}
		.layui-form-label{
			width: 80px !important;
		}
		.layui-input-block{
			margin-left: 90px !important;
		}		
	</style>
</head>
<body>
	<div class="searchItem">
		<i class="layui-icon">&#xe658;</i> 
		搜索条件
	</div>
	<div class="tableHeader">
		
		<div class="searchForm" style="width: 100% !important;">
			<form class="layui-form" action="" style="height: 100%;">
				 <div class="layui-form-item">
				 	<div class="layui-input-inline">
			        <select name="modules" lay-verify="" lay-search="">
			          <option value="">组织机构</option>
			          <option value="1">教育厅</option>
			          <option value="2">分水中学</option> 
			          <option value="2">城西附小</option> 
			        </select>
			      </div>
			      
			      <div class="layui-input-inline">
			        <select name="modules" lay-verify="" lay-search="">
			          <option value="">职位</option>
			          <option value="1">区监督员</option>
			          <option value="2">学校管理员</option> 
			          <option value="3">实验员</option>
			          <option value="4">实验巡查员</option> 
			          <option value="5">教师</option>
			        </select>
			      </div>
				  	
				  	<div class="layui-input-inline" style="width:5%;">
				  		<div class="layui-input-block" style="margin-left:10px !important;">
					      <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
					    </div>
				  	</div>
				 </div>
				 
			</form>
		</div>
	</div>
	<div class="searchItem" style="float: left;width: 100%;">
		<i class="layui-icon">&#xe62d;</i> 
		查询结果
		<div class="tableOptions">			
			<button class="newCreate" id="download">
				<i class="fa fa-download"></i>
				<span>导出</span>
			</button>
			<button class="newCreate" id="upload">
				<i class="fa fa-upload"></i>
				<span>导入</span>
			</button>
			<button class="newCreate" id="newBuild" data-method="notice">
				<i class="fa fa-plus"></i>
				<span>添加</span>
			</button>		
		</div>
	</div>
		
	</div>
		<table id="userInfo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-mini" lay-event="edit" title="编辑" style="background-color: #f8f8f8;color: #0099cc;">编辑</a>
  <a class="layui-btn layui-btn-mini" lay-event="detail" style="background-color: #f8f8f8;color: #0099cc;font-weight: bold;">|</a>
  <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del" title="删除" style="background-color: #f8f8f8;color: orangered;">删除</a>
</script>

    <script src="../../plugins/layui/layui.all.js"></script>
    <script src="../../plugins/jquery.min.js"></script>
      <script src="../path.js"></script>
    <script src="../../js/pageJs/disEduBur/userInfo.js"></script>  
    <script type="text/html" id="PSW">
		  {{#  if(d.userPwd){ }}
		  		<span>******</span>
		  {{#  }else{}}
		  
		  {{# } }}
	</script>
</body>

</html>