<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../plugins/layui/css/layui.css" media="all">
		<style type="text/css">
			.layui-btn{
				font-size: 16px !important;
				padding: 0px 12px !important;
			}
		</style>
	</head>
	<body>
		<form class="layui-form" style="margin: 30px 40px 0px 0px;" id="checkSubmitAlert"> 		 
			
			<div class="layui-form-item">
				<label class="layui-form-label">我的审批</label>
		    <div class="layui-input-block">
		      <input type="radio" name="agree" value="同意" title="同意" checked="">
		      <input type="radio" name="agree" value="不同意" title="不同意">
		    </div>
		  </div>	
		   <div class="layui-form-item layui-form-text">
		    <label class="layui-form-label">不同意理由</label>
		    <div class="layui-input-block">
		      <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn" lay-submit="" lay-filter="demo1" id="checkSubmit">提交</button>
		    </div>
		  </div>
				  
		</form>
	<script src="../../../plugins/layui/layui.all.js"></script>	
	<script src="../../../js/jquery.min.js"></script>
	</body>
</html>
