<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
	</head>
	<body style="padding: 10px;">
		
		<form class="layui-form" action="" style="height: 100%;">
				 <div class="layui-form-item">
				 	<div class="layui-input-inline">
			        <select name="modules" lay-verify="required" lay-search="">
			          <option value="">学校</option>
			          <option value="1">分水中学</option>
			          <option value="2">大龙小学</option> 
			        </select>
			      </div>
			      <div class="layui-input-inline">
			        <select name="modules" lay-verify="required" lay-search="">
			          <option value="">学科</option>
			          <option value="1">物理</option>
			          <option value="2">化学</option> 
			        </select>
			      </div>
			      <div class="layui-input-inline">
			        <select name="modules" lay-verify="required" lay-search="">
			          <option value="">班级</option>
			          <option value="1">2013级2班</option>
			          <option value="2">2014级1班</option> 
			        </select>
			      </div>
			      <div class="layui-input-inline">
			        <select name="modules" lay-verify="required" lay-search="">
			          <option value="">教师</option>
			          <option value="1">张三</option>
			          <option value="2">李四</option> 
			        </select>
			      </div>
				  	
				  	<div class="layui-input-inline" style="width:150px;">
				  		<div class="layui-input-block" style="margin-left:10px !important;">
					      <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
					    </div>
				  	</div>
				 </div>
				 
			</form>
		
		
		
	<script src="../../plugins/layui/layui.all.js"></script>	
	</body>
</html>
